.AddMenuItem {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}


.add-menu-item-title {
    font-family: 'Pangolin', cursive;
}

.chef-hat {
    width: 180px;
    margin-bottom: 2em;
}

select#category {
    font-size: 1.3em;
    margin-left: 2px;
    margin-bottom: 5px;
    width: 250px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

select, option {
    font-family: 'Baloo Tamma 2', cursive;
}

.add-to-menu-button, .cancel-button {
    margin: 0.5em;
}