.LandingPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.chef-kirby {
    max-width: 180px;
    padding: 0;
    margin: 0;
}

.landing-page-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.landing-page-link {
    margin: 0 2em;
    font-family: 'Lemonada', cursive;
    font-size: 1.1em;
}

.food-icon, .food-menu {
    width: 140px;
}

.app-name {
    font-family: 'Bungee Shade', cursive;
    color: rgb(148, 100, 129);
    font-size: 2em;
}


.about-app {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.6em;
}



