.MenuListPage {
    border: 1px solid black
}

.MenuListPage h1 {
    text-align: center;
}

.menuCategory {
    border: 1px solid black;
    padding: 10px;
}

ul {
    list-style: none;
}

summary {
    font-size: 0.8em;
}

summary:focus {
    outline: none;
}

details {
    margin-bottom: 1.2em;
}

img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.added-status {
    color:lightcoral
}

.gray {
    color:gray;
}