.MenuListPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.MenuListPage>img {    
    max-width: 160px;
    padding: 0;
    margin: 0;
}

.menu-list-title {
    text-align: center;
    font-family: 'Pangolin', cursive;
}

button {
    cursor: pointer;
}

.add-new-menu-item-button {
    margin-bottom: 2em;
    width: 100px;
    height: 50px;
    margin-top: 1em;
    font-size: 0.8em;
}

.menuCategory {
    border: 1px ridge black;
    padding: 10px;
    border-radius: 2em;
    margin-bottom: 1em;
    border-width: 5px;
}

.breakfast-menuCategory{
    background-color: rgba(47, 97, 114, 0.5); 
}

.lunch-menuCategory{
    background-color: rgb(213, 159, 60, 0.5);
}

.dinner-menuCategory{
    background-color: rgb(49, 3, 82, 0.5);
}

.meal-box {
    border: 1px solid black;
    list-style: none;
    padding: 1em;
    display: inline-block;
    width: 300px;
    height: 600px;
    vertical-align: middle;
    background-color: white;
}

.meal-box:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    padding-left: 0;
}

summary {
    font-size: 0.8em;
}

summary:focus {
    outline: none;
}

details {
    margin-bottom: 1.2em;
}

.menu-item-image {
    margin-top: 0.4em;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.added-status {
    color:lightcoral;
    font-size: 2em;
    font-family: 'Handlee', cursive;
}

.gray {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.edit-button-link {
    display: inline;
    margin-left: 0.8em;
}

.edit-button{
    font-size: 1em;
}

.mealplan-nutritional-info {
    font-size: 1em;
    font-family: 'Baloo Tamma 2', cursive;
}

.addToMP-button {
    font-size: 1em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion { /* button */
    background-color:white;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion::before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    margin-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.active::before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* Style the accordion panel. Note: hidden by default */
/*
.panel{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: display 1s;
}
*/

a {
    display: block;
}

#alert {
    color: red;
}

@media screen and (min-width: 544px){
    

}

