.MenuListPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.MenuListPage>img {    
    max-width: 160px;
    padding: 0;
    margin: 0;
}

.menu-list-title {
    text-align: center;
    font-family: 'Pangolin', cursive;
}

button {
    cursor: pointer;
}

.add-new-menu-item-button {
    margin-bottom: 2em;
    width: 100px;
    height: 50px;
    margin-top: 1em;
    font-size: 0.8em;

}

.menuCategory {
    border: 1px ridge black;
    padding: 10px;
    border-radius: 2em;
    margin-bottom: 1em;
    border-width: 5px;
}

.breakfast-menuCategory{
    background-color: rgba(47, 97, 114, 0.5); 
}

.lunch-menuCategory{
    background-color: rgb(213, 159, 60, 0.5);
}

.dinner-menuCategory{
    background-color: rgb(49, 3, 82, 0.5);
}

.meal-box {
    border: 1px solid black;
    list-style: none;
    padding: 1em;
    display: inline-block;
    width: 300px;
    height: 600px;
    vertical-align: middle;
    background-color: white;
}

.meal-box:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    padding-left: 0;
}

.menu-item-image {
    margin-top: 0.4em;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.added-status {
    color:lightcoral;
    font-size: 2em;
    font-family: 'Handlee', cursive;
}

.gray {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.edit-button-link {
    display: inline;
    margin-left: 0.8em;
}

.edit-button{
    font-size: 1em;
}

.mealplan-nutritional-info {
    font-size: 1em;
    font-family: 'Baloo Tamma 2', cursive;
}

.addToMP-button {
    font-size: 1em;
}

a {
    display: block;
}

