.RegistrationPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.create-account-title {
    font-family: 'Pangolin', cursive;
}

.red {
    color: red;
}

label {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2em;
}

[type="text"] {
    font-size: 1.3em;
    border-radius: 2em;
    margin-left: 2px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Baloo Tamma 2', cursive;
}

button {
    font-family: 'Baloo Tamma 2', cursive;
    margin-top: 1em;
    font-size: 1.2em;
    border-radius: 2px;
}

