.LoginPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.chef-mario-and-yoshi {
    max-width: 180px;
    padding: 0;
    margin: 0;
}

.login-title {
    font-family: 'Pangolin', cursive;
}

.login-button {
    font-family: 'Baloo Tamma 2', cursive;
    margin-top: 1em;
    font-size: 1.2em;
    border-radius: 2px;    
}

