.MealPlanPage {    
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.MealPlanPage>img {    
    max-width: 120px;
    padding: 0;
    margin: 0;
}

.meal-plan-summary {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.1em;
}

.menuCategory {
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    border-style:ridge;
    border-width: 5px;
}

.menuCategory:hover {
    background-color: rgb(203, 201, 189);
    /* background-color: rgb(235, 233, 220); */

}

.breakfastPlanSection:hover {
    border-color: rgba(102, 160, 232, 0.5);
    color: rgb(47, 97, 114);
}

.lunchPlanSection:hover {
    border-color: rgba(219, 163, 58, 0.5);
    color: darkgoldenrod;

}

.dinnerPlanSection:hover {
    border-color: rgba(121, 13, 199, 0.5);
    color: purple;
}

.meal-plan-title {
    font-family: 'Pangolin', cursive;
}

.breakfastLabel {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

.lunchLabel {
    font-family: 'Sriracha', cursive;
    font-size: 3em;
}

.dinnerLabel {
    font-family: 'Pinyon Script', cursive;
    font-size: 3em;
}

ul {
    list-style: none;
}

.mealplan-item-name{
    font-family: 'Nanum Pen Script';
    font-size: 1.8em;
}

.mealplan-nutritional-info {
    font-size: 0.9em;
    font-family: 'Baloo Tamma 2', cursive;
}

.user-note {
    color: red;
    text-align: center;
}

