.MealPlanPage {    
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.food-icon {    
    max-width: 120px;
    padding: 0;
    margin: 0;
}

.meal-plan-summary {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.1em;
    font-weight: bold;
}

.meal-plan-title {
    font-family: 'Pangolin', cursive;
}


.breakfastLabel {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    padding: 0;
    margin: 0;
    color: rgb(47, 97, 114);
}

.lunchLabel {
    font-family: 'Sriracha', cursive;
    font-size: 3.5em;
    padding: 0;
    margin: 0;
    color: darkgoldenrod;

}

.dinnerLabel {
    font-family: 'Pinyon Script', cursive;
    font-size: 4em;
    padding: 0;
    margin: 0;
    color: purple;

}

.planCategory {
    padding-top: 2em;
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    border-style:ridge;
    border-width: 5px;
}

.breakfastPlanSection {
    border-color: rgba(47, 97, 114, 0.5);
}

.breakfastPlanSection:hover {
    background-color: rgba(47, 97, 114, 0.1);
}

.lunchPlanSection {
    border-color: rgba(213, 159, 60, 0.5);
}

.lunchPlanSection:hover {
    background-color: rgba(213, 159, 60, 0.1);
}

.dinnerPlanSection {
    border-color: rgba(49, 3, 82, 0.5);
}

.dinnerPlanSection:hover {
    background-color: rgba(49, 3, 82, 0.1);
}

.mealplan-item-name{
    font-family: 'Nanum Pen Script';
    font-size: 1.8em;
    color: white;
    padding: 0.2em;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
}

ul {
    list-style: none;
}

.meal-plan-box{
    margin-bottom: 2em;
}

.user-note {
    color: red;
    text-align: center;
}

.removeFromMP-button {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 1.2em;
    border-radius: 2px;
    margin-bottom: 2em;
}