.login-link, .logout-link, .register-link  {
    float: right;
    margin-right: 10px;
    font-family: 'Lemonada', cursive;
}

.home-link, .my-menu-link, .meal-plan-link {
    font-family: 'Lemonada', cursive;
    position: absolute;
}

.home-link {
    margin-left: 5px;
}

.my-menu-link, .meal-plan-link {
    margin-left: 4.5em;
}

nav {
    overflow:hidden;
}

.logo {
    text-decoration: none;
    text-align: center;
    font-size: 1.4em;
}