.NotFoundPage {
    border: 1px solid black;
    border-radius: 2em;
    width: 80%;
    max-width: 821px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.not-found-title {
    font-family: 'Pangolin', cursive;
}

.not-found-message {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.6em;
}